.background {
  background-image: url("japan.jpg");
  height: 700px;
  width: 95%;
  background-size: cover;
  border-style: inset;
  border-width: 10px; 
}
    .paragraph1{
        width:80px;
        border-radius: 30px;
        border: 5px solid #e70707;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .paragraph2{
        margin-top: 200px;
        margin-left: 70px;
        width: 80%;
        border-radius: 40% / 5% 50%;
        border: 5px solid #e70707;
        padding: 50px;
        text-align: center;
    }