.WiFi:hover {

    animation-name: falling;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: inherit;
    animation-play-state: initial;
  }
  @keyframes falling {
    0%{
      transform:
        translate3d(0, 0, 0) rotate(0deg) scale(0.7, 0.7);
    }
    100% {
      transform:
        translate3d(600px, 400px, 0) rotate(80deg) scale(1.2, 1.2);
    }
  }