html{
    background-color: black;
}

.heading{
    background: url("golden.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
}
.text{
    height: 400px;
    width: 100%;
    color: white;
    font-size: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.541);

}
.outerdiv{
    height: 600px;
	width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.left{
    color: white;
    box-sizing: content-box;
    height: auto;
    width: 40%;
    float: left;
    text-align: center;
    padding: 50px;
  
}

.right{
    color: white;
    box-sizing: content-box;
    height: auto;
    width: 40%;
    float: right;
    text-align: center;
    padding: 50px;
}